
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bebas+Neue&family=Nunito+Sans&family=Plus+Jakarta+Sans:wght@200&family=Poppins&family=Righteous&display=swap');
/* font-family: 'Baloo 2', cursive;
font-family: 'Righteous', cursive*/
#capa {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;

}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #484545;
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;

}
.header_2 {
  border-bottom: 5px solid #8a8c91;
  background-color: #ff4800;
  width: 100vw;
  position: fixed;
}

.header {
  border-bottom: 5px solid #000000;
  background-color: #191818;
  width: 100vw;
  position: fixed;
}



.container {
  width: 80%;
  margin: auto;
  display: flex;
}


.header .container {
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #ff4800;
  padding: 10px 10px;
  font-family: 'Righteous', cursive;
}

.header a:Hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.header b {
  text-decoration: none;
  color: #ff4800;
  font-family: 'Righteous', cursive;
}


.logo {
  width: 0%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}



.conteudo{
  background-color: #000000;
  color:#ffffff;
  height:470px;
}
.conteudo_2{
  color:#ffffff;
}
.conteudo_2 .container,
.conteudo .container,
.footer{
  padding-top: 5%;
}


.banner {
  height: fit-content;
  padding: 40px 0;
  background-image: url(i662xt6y2z481.webp);
  background-size: cover;
}

.banner .container {
  height: 800px;
  justify-content: center;
  align-items: center;
}

.banner p {
  background-color: rgba(0, 0, 0, 0.9);
  border: #ff4800 solid 10px;
  -moz-border-radius:0 20px;-webkit-border-radius:0 20px;border-radius:0 20px;
  width: 70%;
  font-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Bebas Neue, cursive;
  font-weight:normal;
  padding: 1%;
}



.footer .container{
  background-color: #191818;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width:100%;
  flex-direction: row;
  padding-bottom: 3%;
  padding-top: 5%;
  color:#ffffff
}
  

.noticias {
  padding: 100px;
  background-color: #ff4800;
  height: 350px;
  justify-content: center;
  display: flex;
  font-family: 'Bebas Neue', cursive;

}

#idn {
  border-radius: 10px;
  width: 1200px;
  height: 400px;
}

.mais_noticiais {
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
  height: 800px;
  font-family: 'Bebas Neue', cursive;

  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.titulo {
  padding: 10%;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  color:#ff4800;
  font-size: 300%;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1cm;
}

.subtitulo {
  height: 50px;
  background-color: #484545;
  font-size: 150%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Baloo 2', cursive;
  color: #ffffff
}

.transicao_SparaF {
  height: 400px;
  background-color: #484545;
  background-image: linear-gradient(#484545, #000000);
}

/*======================================================================================= */
.huntshow video,
.minecraft video,
.project video,
.insurgency video,
.halflife video,
.reddead video {
  width: 100%;
  opacity: 0.0;
  transition: 1s ease;
  position: absolute;
}
.huntshow video:Hover,
.minecraft video:Hover,
.project video:Hover,
.insurgency video:Hover,
.halflife video:Hover,
.reddead video:Hover {
  width:100%;
  transition: 1s ease;
  opacity: 1;

}

.fixa {
  height: 400px;
  background-color: #000000;
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaR {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #df131c);
}

.reddead {
  height: 200px;
  background-color: #df131c;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_RparaF {
  height: 400px;
  background-color: #df131c;
  background-image: linear-gradient(#df131c, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaH {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #ff4800);
}

.halflife {
  height: 200px;
  background-color: #ff4800;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_HparaF {
  height: 400px;
  background-color: #ff4800;
  background-image: linear-gradient(#ff4800, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaHS {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #191818);
}

.huntshow {
  height: 200px;
  background-color: #191818;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_HSparaF {
  height: 400px;
  background-color: #191818;
  background-image: linear-gradient(#191818, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaHS {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #191818);
}

.huntshow {
  height: 200px;
  background-color: #191818;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_HSparaF {
  height: 400px;
  background-color: #191818;
  background-image: linear-gradient(#191818, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaI {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #ad940a);
}

.insurgency {
  height: 200px;
  background-color: #ad940a;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_IparaF {
  height: 400px;
  background-color: #ad940a;
  background-image: linear-gradient(#ad940a, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaM {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #1dad0a);
}

.minecraft {
  height: 200px;
  background-color: #1dad0a;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_MparaF {
  height: 400px;
  background-color: #1dad0a;
  background-image: linear-gradient(#1dad0a, #000000);
}

/* ----------------------------------------------------------------------------------------------------------- */

.transicao_FparaP {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #000000;
  background-image: linear-gradient(#000000, #0a0330);
}

.project {
  height: 200px;
  background-color: #0a0330;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transicao_PparaF {
  height: 400px;
  background-color: #0a0330;
  background-image: linear-gradient(#0a0330, #000000);
}
.transicao_FparaREC{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #000000;
    background-image: linear-gradient(#000000, #484545);
}
.mais_reco{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction:column;
  padding: 5%;
  color:#ffffff;
}

/*=============================================*/

.esquerda{
  align-items:flex-start;
  padding-right: 10%;
  width:80%;
}
.direita{
  align-items:flex-end;
  width:80%;
  
}

.menu_img{
  align-items:flex-end;
  padding-right: 10%;
}

.not_tit{
  font-size: 185%;
  padding-top: 20%;
}

.not_sub{
  font-size: 100%;
  padding-top: 1%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight:700;
}

.divisor{
  width:100%;
  height:10%;
}


.sobre{
color:white;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
padding-left: 1%;
}

.not:hover{
  color:#ff4800;
  
}

.mais_noticiais_titulo{
  display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
padding-top: 100px;
font-size: 400%;
}

/*  -------------------------------------------------------------  */

.sobrenos-card{
  padding: 10px;
  border: 4px #000000 solid;
  width: 40%;
  margin: 0 4%;
  margin-left: 30%;
  border-radius: 20px;
  padding-top: 10%;
  background-color: #ff4800;
  color: #ffffff;
}


.sobrenos-texto{
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  
}

.divinicial{
  margin: 2% 0% 4% 42%;
  
  
}

.sobrenos-titulo {
  font-size: 6rem;
}

.imagem {
  width: 60%;
  height: 400%;
  border-radius: 50%;
  border: #000000 4px solid;
}

.sobrenos-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  margin-left: 2%;
}


button{
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  color:#ffffff;
  background-color: #000000;
  border-radius: 20%;
  border:#ff4800 4px solid;
  font-size: xx-large;
  font-family: 'Baloo 2', cursive;
  display: flex;

}

input{
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  color:#ff4800;
  background-color: #000000;
  border-radius: 5%;
  border:#ffffff 4px solid;
  font-size: xx-large;
  font-family: 'Baloo 2', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}